* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1F2F4;
    font-family: 'AR One Sans', sans-serif;
}

header {
    height: 75px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: smaller;
    position: relative;
    right: 200px;
}

.search {
    display: flex;
    justify-content: center;
    position: relative;
    right: 175px;
    border: 0.5px solid black;
    border-radius: 5px;
}

.search input {
    outline: none;
    border: none;
    margin: 6px;
    margin: 0;
    padding: 0;
    background-color: #F0F5FF;
    border-radius: 6px;
    width: 500px;
    height: 30px;
}

.nav ul {

    display: flex;
    

    list-style: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    
    
    position: relative;
    left: 105px;
    top: 16px;
}



.nav a {
    text-decoration: none;
    
    color: black;
    margin: 8px;
}

.head {
    color: blue;
    font-family: 'AR One Sans', sans-serif;

    font-size: 20px;
    font-weight: 600;
}

button {
    width: 60px;
    height: 30px;
    background-color: blue;
    outline: none;
    border: none;
    color: white;
    font-size: revert;
    font-family: -webkit-body;
    border-radius: 8px;
    transition: 0.7 ease-out;
    position: relative;
    right: 165px;
}

button:active {
    transform: scale(0.95);
}

.head3 {
    color: #F5E00B;
    font-weight: 500;
}

.grid {
    width: 1331px;
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 13px 0px 17px 16px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-column-gap: 70px;
}

.nav1 {
    margin: 15px 0px 0px 0px;
    /* display: flex;
   
    align-items: center; */
}

.navtext {
    text-align: center;
    display: flex;
    justify-content: center;

}

.navtext a {
    margin: 0px 32px;
    color: black;
    text-decoration: none;
    font-size: 13px;
    position: relative;
    top: -46px;
}

.ele {
    position: relative;
    left: -32px;
}

.mob {
    position: relative;
    left: -16px;
}

.tv {
    position: relative;
    right: 43px;
}

.fashion {
    position: relative;
    right: 58px;
}

.beauty {
    position: relative;
    right: 40px;
}

.home {
    position: relative;
    right: 30px;
}

.fur {
    position: relative;
    right: 45px;
}

.flight {
    position: relative;
    right: 25px;
}
header .nav{
    display: flex;
    justify-content: space-between;
}

.slide {
    width: 100%;
    height: 300px;
    
    
    background: url("slide/sl1.jpg");
    background-size: contain;
    margin: 40px 0px 0px 0px;
    
    background-repeat: no-repeat;
    animation-name: slider;
    animation-timing-function:cubic-bezier(0.23, 1, 0.320, 1);
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
    
    
}

@keyframes slider {
    0%{background-image: url('slide/sl1.jpg');}
    20%{background-image: url('slide/sl2.jpg');}
    40%{background-image: url('slide/sl3.jpg');}
    60%{background-image: url('slide/sl4.jpeg');}
    80%{background-image: url('slide/sl5.jpg');}
    90%{background-image: url('slide/sl6.jpeg');}
    
    
}
.pay img{
width: 98%;
position: relative;
bottom: -225px;
margin: 20px 8px 8px 6px;



}
.grid2 img{
    width: 100%;
   height: 150px;
  
   
    
    
}
.grid2{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    display: grid;
    background-size: contain;
    grid-template-columns: repeat(6,auto);
    grid-column-gap: 103px;
    
    position: relative;
    bottom: -290px;
    overflow-y: hidden;
}
